name: Release
on:
  push:
    tags:
      - v**

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: read

env:
  # Used by .npmrc to access GitHub Packages (@nutstore scope)
  NUTSTORE_PAT: ${{ github.repository == 'nutstore/zotero-plugin-nutstore' && secrets.GITHUB_TOKEN || secrets.NUTSTORE_PAT }}
  NODE_AUTH_TOKEN: ${{ github.repository == 'nutstore/zotero-plugin-nutstore' && secrets.GITHUB_TOKEN || secrets.NUTSTORE_PAT }}

jobs:
  create-release:
    uses: zotero-plugin-dev/workflows/.github/workflows/release-plugin.yml@main
    with:
      build: pnpm run build
      release: pnpm run release
    secrets: inherit
